In [1]:
from sklearn.preprocessing import LabelEncoder
from textblob import TextBlob
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('elonmusk.csv', encoding='UTF-8')
df.head()

,Tweet,UserScreenName,UserName,Timestamp,text,Emojis,Comments,Likes,Retweets,Image link,Tweet URL
0,0,Elon Musk,@elonmusk,2010-06-04T18:31:57.000Z,"Please ignore prior tweets, as that was someon...",NaN,873,648,"5,453",[],https://twitter.com/elonmusk/status/15434727182
1,1,Elon Musk,@elonmusk,2011-12-01T09:55:11.000Z,Went to Iceland on Sat to ride bumper cars on ...,NaN,30,24,188,['https://pbs.twimg.com/media/Afkf5DMCAAEJGFr?...,https://twitter.com/elonmusk/status/1421799282...
2,2,Elon Musk,@elonmusk,2011-12-01T10:29:04.000Z,I made the volume on the Model S http://ow.ly/...,NaN,29,17,78,[],https://twitter.com/elonmusk/status/1421884581...
3,3,Elon Musk,@elonmusk,2011-12-03T08:20:28.000Z,"Great Voltaire quote, arguably better than Twa...",NaN,23,30,44,[],https://twitter.com/elonmusk/status/1428808713...
4,4,Elon Musk,@elonmusk,2011-12-03T08:22:07.000Z,That was a total non sequitur btw\n26\n14\n50,NaN,26,14,50,[],https://twitter.com/elonmusk/status/1428812840...

In [3]:
# Drop unnecessary (UserScreenName, UserName, Emojis, Comments, Likes, Image Link) columns
df1 = df.drop(['UserScreenName', 'UserName', 'Emojis', 'Comments', 'Likes', 'Image link', 'Tweet URL'], axis = 1)
df1.rename(columns={'Tweet':'ID', 'Timestamp':'Time', 'text':'Tweet'}, inplace=True)

# Calculate tweet length
df1.Tweet = df1.Tweet.astype(str)
tweet_lens = []
for tweet in df1.Tweet:
    tweet_lens.append(len(tweet))

# Make tweet length list into dataframe
df_tweet_len = pd.DataFrame(tweet_lens)
df_tweet_len.columns = ['Tweet Length']
df1 = pd.concat([df1, df_tweet_len], axis=1)

df1.head()

,ID,Time,Tweet,Retweets,Tweet Length
0,0,2010-06-04T18:31:57.000Z,"Please ignore prior tweets, as that was someon...","5,453",106
1,1,2011-12-01T09:55:11.000Z,Went to Iceland on Sat to ride bumper cars on ...,188,129
2,2,2011-12-01T10:29:04.000Z,I made the volume on the Model S http://ow.ly/...,78,125
3,3,2011-12-03T08:20:28.000Z,"Great Voltaire quote, arguably better than Twa...",44,145
4,4,2011-12-03T08:22:07.000Z,That was a total non sequitur btw\n26\n14\n50,50,42

In [4]:
# Should change path due to the local environment
# df1.to_csv('/home/jiwon/study/SPP/Project/elonmusk_cleaned.csv')